name: CI

on:
  pull_request_target:
    types: [opened, synchronize, edited, reopened]
    branches: main

jobs:
  ci-pre-commit:
    runs-on: ubuntu-latest
    steps:
    -   uses: actions/checkout@v3
        with:
          fetch-depth: 0
    -   uses: actions/setup-python@v4
        with:
          python-version: '3.12'
    -   name: Install project
        run: pip install -e .[dev,test,alembic]
    -   name: run pre-commit
        run: pre-commit run --all
  ci-test:
    if: ${{ github.event_name == 'pull_request' }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.8', '3.9', '3.10', '3.11', '3.12']
        sqlalchemy-version: [1.4.*, 2.0.*]
    runs-on: ubuntu-latest
    steps:
    -   uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{  github.event.pull_request.head.sha }}
    -   uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
    -   name: Install project
        run: pip install -e .[test,alembic]
    -   name: Install sqlalchemy
        run: pip install sqlalchemy==${{ matrix.sqlalchemy-version }}
    -   name: run tests (with coverage)
        run: |
          PYTEST_DBURI=$(python -m test.ci_setup setup ${{ secrets.TEST_DBURI }})
          echo "::add-mask::$PYTEST_DBURI"
          export PYTEST_ADDOPTS="--dburi $PYTEST_DBURI"
          pytest -v --cov sqlalchemy_hana --cov-report html --cov-report xml test/
          python test/ci_setup.py teardown ${{ secrets.TEST_DBURI }} $PYTEST_DBURI
    -   name: run diff-cover
        run: diff-cover --config-file pyproject.toml coverage.xml
