name: Release

on:
  push:
    tags:
    -   v*

jobs:
  release:
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write
      contents: write
    steps:
    -   name: Checkout repository
        uses: actions/checkout@v6
    -   uses: actions/setup-python@v5
        with:
          python-version-file: .python-version
    -   name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version-file: pyproject.toml
    -   name: Install project
        run: uv sync --all-groups
    -   name: Create wheel
        run: uv build -o dist/.
    -   name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
    -   name: Determine version
        run: |
          version="${GITHUB_REF_NAME:1}"
          echo "RELEASE_VERSION=${version}" >> $GITHUB_ENV
    -   name: Release on GitHub
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*
          name: Version ${{ env.RELEASE_VERSION }}
